/* Styles for Trending Component */
.background {
    background: indigo; /* For Testing */
    width: 100%;
}

.illustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgLogo {
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    margin-top: 10%;
    transition: .5s;
    transform: scale(0.9);
}

.price {
    font-family: monospace;
    font-weight: bolder;
    transition: .5s;
}

.marketing {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 50px;
    align-items: center;
}

.marketingLabel {
    text-align: center;
    transition: .5s;
    transform: scale(0.9);
}

.textRage {
    font-family: 'Road Rage';
    line-height: 200%;
}

.investBtn {
    text-transform: uppercase;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    font-size: 20px;
    transition: .5s;
    border-radius: 1px;
    font-weight: bold;
    transition: 0.2s;
    transform: scale(0.9);
}

.investBtn:hover {
    letter-spacing: 3px;
}
